body {
    background-color: purple;
}
* {
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 400px;
    width: 600px;
}

.container {
    position: relative;
    border: 5px solid teal;
    height: 410px;
    width: 610px;
}

/* .bottom-image {
    position: absolute;
}

.top-image {
    position: absolute;
} */

.bottom-image,
.top-image {
    position: absolute;
}
.top-image {
    width: 300px;
    overflow-x: hidden;
}
.bar {
    position: absolute;
    height: 400px;
    width: 10px;
    background-color: hotpink;
    left: 295px;
}
