#outer {
    height: 200px;
    width: 200px;
    background-color: green;
    position: relative;
    top: 200px;
    left: 600px;
}

#inner {
    height: 50px;
    width: 50px;
    background-color: grey;
    position: relative;
    top: 75px;
    left: 75px;
}
