* {
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    background-color: orange;
    height: 70px;
}
main {
    background-color: grey;
    flex-grow: 1;
}
footer {
    background-color: pink;
    height: 30px;
}
