#top {
    position: relative;
    padding: 20px;
    border: 1px gray dashed;
}
#logo {
    position: relative;
    height: 30px;
}
#menu {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
}
.banner {
    position: relative;
    background-image: url(assets/spices.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.center {
    text-align: center;
}
.welcome {
    color: white;
    font: georgia;
    font-style: italic;
}
.button {
    color: orange;
}
#icon-section {
    background-color: lightgray;
}
.icon {
    height: 50px;
}
.top-cell {
    position: absolute;
    width: 48%;
    display: inline-block;
}
.bottom-cell {
    position: absolute;
    width: 48%;
    display: inline-block;
}
.second {
    left: 50%;
}
.bottom-cell {
    width: 50%;
    display: table-cell;
}
#footer {
    background-color: gray;
    padding: 10px;
    font-size: small;
    color: white;
}
