/* body {
    background-color: green;
} */
img {
    max-width: 300px;
    height: auto;
    /* overflow: hidden; */
}
#container {
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
    align-items: center;
}
