* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#ticker {
    overflow: hidden;
    height: 1.5em;
    width: 100%;
    position: relative;
}

#headlines {
    white-space: nowrap;
    position: absolute;
    left: 100%;
    font-size: 0;
}

#headlines a {
    padding-right: 40px;
    font-size: 14px;
}

a:visited {
    color: black;
}
